.Container{
    min-height: 100vh;
    position: relative;
}
.Container > h2{
    font-family: 'poppins';
    font-size: 2rem;
    font-weight: 500;
    padding: 40px 0px;
    text-align: center;
}
.carrosselBackground{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center;
    z-index: 1;
}
.overlay{
    background-color: rgba(0, 0, 0, .6);
}
.carrosselContainer{
    color: #fff;
    display: grid;
    min-height: 100vh;
    height: 100%;
    z-index: 2;
    filter: brightness(1) !important;
  
}
.carrosselContainer button{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    cursor: pointer;
}
.carrosselContainer button i{
    color: #eee;
    font-size: 2rem;
}
.btnNext{
    right: 10px;
    padding: 20px;
    transition: all .4s ease;
}

.btnNext:hover{
    right: 0;
}
.btnPrev{
    left: 10px;
    padding: 20px;
    transition: all .4s ease;
}
.btnPrev:hover{
    left: 0;
}
.content{
    filter: brightness(1) !important;
    align-self: center;
    padding: 100px 120px;
}
.content > h1{
    color:#fff;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
    animation: showDown .5s forwards;    
}
.content > p{
    color:#ccc;
    width: 600px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: .5px;
    animation: showDown 1s forwards;
}
@keyframes showDown {
    from {
        transform: translateY(-60px);
    }
    to{
        transform: translateY(0px);
    }
}