.homeContainer{
    min-height: 100vh;
    background-image: url('./public/assets/bg-home.jpg');
    background-size: cover;
    background-position: bottom;
    color: #fff;
    font-family: 'poppins', sans-serif;
    padding: 20px 60px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.header a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
    width: 40px;
}
.header > nav{
    display: flex;
    gap: 20px;
}
.iconHeader{
    font-size: 30px;
}
.content{
    height: 100vh;
    display: grid;
    align-content: center;
    gap: 30px;
    width: 500px;
    animation: showDown .9s forwards;
}
.content h1{
    font-size: 2rem;
    font-weight: 500;
}
.content h1 > span{
    color: #FFC300;
}
@keyframes showDown {
    from {
        transform: translateY(-60px);
    }
    to{
        transform: translateY(0px);
    }
}
@media(max-width: 700px){
    .header a {
        font-size: 1rem;
    }
    .content{
        width: 350px;
    }
    .content h1{
        font-size: 1.5rem;
    }
}
@media(max-width: 400px){
    .header a {
        font-size: .875rem;
    }
    .content{
        width: 250px;
    }
    .content h1{
        font-size: 1.2rem;
    }
}