.homeContainer{
    min-height: 100vh;
    background-image: url('/public/bg-home.jpg');
    background-size: cover;
    background-position: bottom;
    color: #fff;
    font-family: 'poppins', sans-serif;
    padding: 20px 60px;
}

.content{
    height: 100vh;
    display: grid;
    align-content: center;
    gap: 30px;
    width: 500px;
    animation: showDown .9s forwards;
}
.content h1{
    font-size: 2rem;
    font-weight: 500;
}
.content h1 > span{
    color: #FFC300;
}
@keyframes showDown {
    from {
        transform: translateY(-60px);
    }
    to{
        transform: translateY(0px);
    }
}
@media(max-width: 700px){
    .header a {
        font-size: 1rem;
    }
    .content{
        width: 350px;
    }
    .content h1{
        font-size: 1.5rem;
    }
}
@media(max-width: 400px){
    .header a {
        font-size: .875rem;
    }
    .content{
        width: 250px;
    }
    .content h1{
        font-size: 1.2rem;
    }
}